html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #333333;
  color: #fefefe;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}
